<!DOCTYPE html>
<html lang="zxx"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header th:fragment="header">
  <div class="header-top-area hidden-sm">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="header-top-left" sec:authorize="isAuthenticated()">
            <ul>
              <li th:text="'Hello, ' + ${#authentication.getName()}"></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="right-side-tool text-right">
            <div class="social-media-area">
              <ul>
                <li><a th:href="@{https://www.facebook.com/TelerikAcademy}"><i class="fa fa-facebook"></i></a></li>
                <li><a th:href="@{https://twitter.com/TelerikAcademy}"><i class="fa fa-twitter"></i></a></li>
                <li><a th:href="@{https://bg.linkedin.com/company/telerik-academy}"><i class="fa fa-linkedin"></i></a></li>
                <li><a th:href="@{https://www.instagram.com/telerikacademy/}"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
            <div class="header-top-right">
              <ul>
                <li sec:authorize="!isAuthenticated()"><i class="fa fa-user"></i><a th:href="@{/auth/login}"
                                                                                    th:text="#{login}">Login</a></li>
                <li sec:authorize="isAuthenticated()"><i class="fa fa-user"></i><a th:href="@{/logout}"
                >Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-middle-area" id="sticky">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="logo-area">
            <a th:href="@{/}"><img src="/static/images/logo.png" th:src="@{/images/logo.png}" alt="logo"></a>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" >
          <div class="main-menu">
            <nav>
              <ul>
                <li><a th:href="@{/}">Home</a>
                </li>
                <li sec:authorize="isAuthenticated()"><a href="#">Contests <i class="fa fa-angle-down"></i></a>
                  <ul>
                    <li th:if="${user != null && user.role.name == 'Organizer'}">
                      <a th:href="@{/contest/new}">Create a Contest</a></li>
                    <li th:if="${user != null && user.role.name == 'Organizer'}">
                      <a th:href="@{/contests/phase-one}">Phase One</a></li>
                    <li th:if="${user != null && user.role.name == 'Organizer'}">
                      <a th:href="@{/contests/phase-two}">Phase Two</a></li>
                    <li th:if="${user != null && user.role.name == 'Photo Junkie'}">
                      <a th:href="@{/contests/phase-one}">Open Contests</a></li>
                    <li th:if="${user != null && isCurrentUserJuror == true && user.role.name != 'Organizer'}">
                      <a th:href="@{/users/{userUuid}/juror-contests(userUuid=${user.getUuid()})}">Juror Contests</a></li>
                    <li><a th:href="@{/contests/finished}">Finished</a></li>
                    <li th:if="${user != null && user.role.name == 'Photo Junkie'}">
                      <a th:href="@{/users/{userUuid}/contests(userUuid=${user.getUuid()})}">My Contests</a></li>
                  </ul>
                </li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/winners}">Winners</a>
                </li>
                <li><a th:href="@{/about}">About</a>
                <li th:if="${user != null && user.role.name == 'Organizer'}">
                  <a th:href="@{/users}">Photo Junkies</a></li>
              </ul>
            </nav>
          </div>
        </div>
<!--        User profile view href-->
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" sec:authorize="isAuthenticated()">

        </div>
      </div>
    </div>
  </div>
  <!-- Slide Menu Section Start Here -->
  <div class="mobile-menu-area">
    <div class="container">
      <div class="mobile-logo-area">
        <a th:href="@{/}"><img src="/static/images/logo.png" th:src="@{/images/logo.png}" style="width: 180px;height: 50px" alt="logo"></a>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="mobile-menu">
            <nav id="dropdown">
              <ul>
                <li><a th:href="@{/}">Home</a>
                </li>
                <li sec:authorize="isAuthenticated()"><a href="#">Contests <i class="fa fa-angle-down"></i></a>
                  <ul>
                    <li th:if="${user != null && user.role.name == 'Organizer'}">
                      <a th:href="@{/contest/new}">Create a Contest</a></li>
                    <li th:if="${user != null && user.role.name == 'Organizer'}">
                      <a th:href="@{/contests/phase-one}">Phase One</a></li>
                    <li th:if="${user != null && user.role.name == 'Organizer'}">
                      <a th:href="@{/contests/phase-two}">Phase Two</a></li>
                    <li th:if="${user != null && user.role.name == 'Photo Junkie'}">
                      <a th:href="@{/contests/phase-one}">Open Contests</a></li>
                    <li th:if="${user != null && isCurrentUserJuror == true && user.role.name != 'Organizer'}">
                      <a th:href="@{/users/{userUuid}/juror-contests(userUuid=${user.getUuid()})}">Juror Contests</a></li>
                    <li><a th:href="@{/contests/finished}">Finished</a></li>
                    <li th:if="${user != null && user.role.name == 'Photo Junkie'}">
                      <a th:href="@{/users/{userUuid}/contests(userUuid=${user.getUuid()})}">My Contests</a></li>
                  </ul>
                </li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/winners}">Winners</a>
                </li>
                <li><a th:href="@{/about}">About</a>
                <li th:if="${user != null && user.role.name == 'Organizer'}">
                  <a th:href="@{/users}">Photo Junkies</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
</body>
</html>