	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/04/2018 21:04
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../../../fonts/Flaticon.eot");
  src: url("../../../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../../../fonts/Flaticon.woff") format("woff"),
       url("../../../fonts/Flaticon.ttf") format("truetype"),
       url("../../../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../../../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
       
}

.flaticon-smartphone:before { content: "\f100"; }
.flaticon-interface:before { content: "\f101"; }
.flaticon-mobileme-logo-of-black-cloud:before { content: "\f102"; }
.flaticon-tool:before { content: "\f103"; }
.flaticon-laptop:before { content: "\f104"; }
.flaticon-smartphone-call:before { content: "\f105"; }