<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>FrameFrenzy | Create Contest</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Typescript UI Controls"/>
    <meta name="author" content="Syncfusion"/>

    <link th:href="@{styles.css}" rel="stylesheet"/>
    <link th:href="@{//cdn.syncfusion.com/ej2/21.1.35/ej2-base/styles/material.css}" rel="stylesheet"/>
    <link th:href="@{//cdn.syncfusion.com/ej2/21.1.35/ej2-buttons/styles/material.css}" rel="stylesheet"/>
    <link th:href="@{//cdn.syncfusion.com/ej2/21.1.35/ej2-inputs/styles/material.css}" rel="stylesheet"/>
    <link th:href="@{//cdn.syncfusion.com/ej2/21.1.35/ej2-popups/styles/material.css}" rel="stylesheet"/>
    <link th:href="@{//cdn.syncfusion.com/ej2/21.1.35/ej2-calendars/styles/material.css}" rel="stylesheet"/>
    <link th:href="@{//cdn.syncfusion.com/ej2/21.1.35/ej2-dropdowns/styles/material.css}" rel="stylesheet"/>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.38/system.js}"></script>
    <script th:src="@{systemjs.config.js}"></script>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon -->
    <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/fav.png}">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.css}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}">
    <!-- meanmenu css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/meanmenu.min.css}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <!-- lightbox css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/lightbox.min.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
    <!-- modernizr css -->
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->

    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">


</head>
<body>


<style>
    .errors {
        color: red;
        font-weight: bold;
    }
</style>

<!--Preview area start here-->
<div class="template-preloader-rapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--End preview here -->
<!--Header area start here-->
<div th:replace="~{fragments/header :: header}">Header Fragment</div>
<!--Header area end here-->

<!-- Inner Page Header serction start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-title">
                    <h2>Create New Contest</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-locator">
                    <ul>
                        <li><a th:href="@{/}">Home /</a> Create Contest</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header section end here -->

<!-- Multistep Form Start Here -->
<div class="multistep-form pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- multistep form -->
                <form class="regform" th:action="@{/contest/new}" method="post" th:object="${contest}"
                      enctype="multipart/form-data">

                    <ul id="progressbar">
                        <li class="active"> Create New Contest</li>
                    </ul>
                    <br>
                    <div class="input-group">
                        <div class="input-group">
                            <!-- progressbar -->
                            <!-- fileset's -->
                            <fieldset id="first"
                                      style="width: 80%; margin: 0 auto; background-color:#f8f8f8; border-radius: 20px;">
                                <span class="errors" th:if="${#fields.hasErrors('categoryName')}"
                                      th:errors="*{categoryName}"></span>
                                <br>
                                <label th:text="#{select.category}" style="font-weight: bold">Category</label>
                                <br>

                                <form th:action="@{/categories/new}" method="post">
                                    <div th:if="${#fields.hasErrors('categoryName')}" class="errors">
                                    </div>
                                    <div>
                                        <select name="categoryName" id="category" th:field="*{categoryName}">
                                            <option value="">-- Select a category --</option>
                                            <option th:each="category : ${allCategory}" th:value="${category.name}"
                                                    th:text="${category.name}"></option>
                                        </select>
                                        <br> Or
                                        <br>
                                        <button type="button" class="btn-primary" onclick="showNewCategoryForm()"
                                                style="background:radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(250,70,108,1) 97%, rgba(252,70,107,1) 100%, rgba(129,13,37,1) 100%);">
                                            Create New Category
                                        </button>
                                        <br>
                                    </div>
                                    <div id="newCategoryForm" style="display:none;"><br>
                                        <input type="text" placeholder="New Category Name:" id="newCategoryName"
                                               name="newCategoryName">
                                        <br>
                                        <div id="newCategoryError" class="errors"><br></div>
                                        <button type="button" id="new-category-button" class="btn-primary"
                                                onclick="createCategory()"
                                                style="background:radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(250,70,108,1) 97%, rgba(252,70,107,1) 100%, rgba(129,13,37,1) 100%);">
                                            Create Category
                                        </button>
                                    </div>
                                </form>
                                <br/>
                                <span class="errors" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error placeholder</span><br>
                                <label th:text="#{contest.name}" style="font-weight: bold">Title</label>
                                <br>
                                <input th:field="*{title}"
                                       id="name"
                                       type="text"
                                       class="text_field"
                                       name="marks"
                                       placeholder="Contest Name"/>
                                <br/>
                                <div>
                                    <span class="errors" th:if="${#fields.hasErrors('phaseOne')}"
                                          th:errors="*{phaseOne}"></span>
                                    <br>
                                    <label th:text="#{phase.one}" style="font-weight: bold">Phase one</label>
                                    <br>
                                    <input type="datetime-local" th:field="*{phaseOne}" placeholder="Date and time"
                                           th:min="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd HH:mm')}"
                                           th:max="${#temporals.format(today.plusMonths(0), 'yyyy-MM-dd HH:mm')}"/>
                                </div>
                                <div>
                                    <span class="errors" th:if="${#fields.hasErrors('phaseTwo')}"
                                          th:errors="*{phaseTwo}"></span>
                                    <br>
                                    <label th:text="#{phase.two}" style="font-weight: bold">Phase two</label>
                                    <br>
                                    <input type="datetime-local" id="phaseTwo" th:field="*{phaseTwo}"
                                           placeholder="Date and time"
                                           th:min="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd HH:mm')}"
                                           th:max="${#temporals.format(today.plusHours(24), 'yyyy-MM-dd HH:mm')}"/>
                                </div>

                                <br/>
                                <div class="form-group row">
                                    <div>
                                        <div class="custom-controls-stacked">
                                            <div class="custom-control custom-radio">
                                                <input name="radio" id="radio_0" type="radio"
                                                       class="custom-control-input" value="photo">
                                                <label for="radio_0" class="custom-control-label"
                                                       th:text="#{upload.photo}" style="font-weight: bold">Upload your
                                                    photo:</label>
                                            </div>
                                        </div>
                                        <div class="custom-controls-stacked">
                                            <div class="custom-control custom-radio">
                                                <input name="radio" id="radio_1" type="radio"
                                                       class="custom-control-input" value="select">
                                                <label for="radio_1" class="custom-control-label"
                                                       th:text="#{select.photo}" style="font-weight: bold">Select the cover
                                                    from
                                                    previously uploaded photos.</label>
                                            </div>
                                        </div>
                                        <div class="custom-controls-stacked">
                                            <div class="custom-control custom-radio">
                                                <input name="radio" id="radio_2" type="radio"
                                                       class="custom-control-input" value="url">
                                                <label for="radio_2" class="custom-control-label"
                                                       th:text="#{paste.photo}" style="font-weight: bold">Paste the URL of
                                                    photo.</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div id="photo-file-container" style="display:none;">
                                    <input type="file" name="photoFile" id="photo-file"/>
                                </div>

                                <div id="selected-cover-photo-container" style="display:none;">
                                    <select class="options" name="selectedCoverPhoto"
                                            th:field="*{selectCoverPhoto}">
                                        <option value="">-- Select a cover photo --</option>
                                        <option th:each="pic : ${listOfPhotos}"
                                                th:value="${pic}"
                                                th:text="${pic}">
                                        </option>
                                    </select>
                                </div>

                                <div id="cover-photo-url-container" style="display:none;">
                                    <input type="text" id="cover-photo-url" name="coverPhotoUrl"
                                           placeholder="Please paste the URL"
                                           th:value="${contest.coverPhotoUrl}" th:field="*{coverPhotoUrl}"/>
                                </div>

                                <label th:text="#{jury}" style="font-weight: bold">Select Jury</label>
                                <div class="custom-controls-stacked">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="radio1" name="juryType" value="specific"
                                               onclick="showCheckboxes()" class="custom-control-input">
                                        <label class="custom-control-label" for="radio1"></label>
                                    </div>
                                    </div>

                                <div id="user-checkboxes" style="display: none; flex-wrap: wrap;">
                                    <br>
                                    <div th:each="users : ${juror}" style="display: inline-block; margin-right: 10px; margin-bottom: 10px;">
                                        <input type="checkbox" style="width: 16px; height: 16px;" th:field="*{user}"
                                               name="certificates" th:value="${users.userId}"/>
                                        <span th:text="${users.username}"></span>
                                    </div>
                                </div>


                                <br><br>
                                <input type="submit" id="createContestBtn" class="btn-primary" value="CREATE"
                                       style="background:radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(250,70,108,1) 97%, rgba(252,70,107,1) 100%, rgba(129,13,37,1) 100%);"/>
                                <br><br>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Multistep Form End Here -->
<script>
    const phaseOneInput = document.getElementById('phaseOne');
    const phaseTwoInput = document.getElementById('phaseTwo');

    phaseOneInput.addEventListener('input', (event) => {
        const phaseOneValue = new Date(event.target.value);
        const minPhaseTwoValue = new Date(phaseOneValue.getTime() + (60 * 60 * 1000));
        const maxPhaseTwoValue = new Date(phaseOneValue.getTime() + (24 * 60 * 60 * 1000));
        phaseTwoInput.min = minPhaseTwoValue.toISOString().slice(0, -8);
        phaseTwoInput.max = maxPhaseTwoValue.toISOString().slice(0, -8);
    });
</script>


<script>
    function showCheckboxes() {
        document.getElementById('user-checkboxes').style.display = 'block';
    }
</script>

<!-- Footer Area Section Start Here -->
<div th:replace="~{fragments/footer :: footer}">Footer Fragment</div>
<!-- Footer Area Section End Here -->
<script th:src="@{/js/create-contest-radiobutton.js}"></script>
<script th:src="@{/js/create-category.js}"></script>

<script th:src="@{/js/participation-error-validation.js}"></script>
<!-- jquery latest version -->
<script th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
<!-- bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl.carouse js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- owl.carouse js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- meanmenu js-->
<script th:src="@{/js/jquery.meanmenu.js}"></script>
<!-- jquery-ui j -->
<script th:src="@{/js/jquery-ui.min.js}"></script>
<!-- wow js -->
<script th:src="@{/js/wow.min.js}"></script>
<!-- jquery.counerup js -->
<script th:src="@{/js/jquery.counterup.min.js}"></script>
<script th:src="@{/js/waypoints.min.js}"></script>
<!-- jquery ligh box -->
<script th:src="@{/js/lightbox.min.js}"></script>
<!-- isotope.pkg.min js -->
<script th:src="@{/js/isotope.pkgd.min.js}"></script>
<!-- imagesloade.pkgd.min js -->
<script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<!-- magnific poup -->
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- jQuery MixeIT Up -->
<script th:src="@{/js/jquery.mixitup.min.js}"></script>
<!-- Counter Dow js -->
<script th:src="@{/js/simplyCountdown.min.js}"></script>
<!-- jquery.appear js -->
<script th:src="@{/js/jquery.appear.js}"></script>
<!-- jQuery Multistep form -->
<script th:src="@{/js/multi_step_form.js}"></script>
<!-- jquery.fancbox.pack js -->
<script th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
<!-- plugins js -->
<script th:src="@{/js/plugins.js}"></script>
<!-- jquery weav effects -->
<script th:src="@{/js/waves.js}"></script>
<!-- main js -->
<script th:src="@{/js/main.js}"></script>

</body>
</html>