<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>FrameFrenzy | Profile Information</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/fav.png" th:href="@{/images/fav.png}">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css" th:href="@{/css/animate.css}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}">
    <!-- meanmenu css -->
    <link rel="stylesheet" type="text/css" href="/static/css/meanmenu.min.css" th:href="@{/css/meanmenu.min.css}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
    <!-- lightbox css -->
    <link rel="stylesheet" type="text/css" href="/static/css/lightbox.min.css" th:href="@{/css/lightbox.min.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="/static/style.css" th:href="@{/style.css}">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" th:href="@{/css/responsive.css}">
    <!-- modernizr css -->
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>

    <script>
        function previewProfilePhoto(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var preview = document.getElementById('profile-photo-preview');
                preview.src = reader.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    </script>

</head>
<body class="single-portfolio">
<!--Preview area start here-->
<div class="template-preloader-rapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--End preview here -->
<!--Header area start here-->
<div th:replace="~{fragments/header :: header}">Header fragment</div>
<!--Header area end here-->

<!-- Inner Page Header serction start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-title">
                    <h2>Profile Information</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-locator">
                    <ul>
                        <li><a href="index.html" th:href="@{/}">Home /</a>Profile Information</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header serction end here -->

<!-- Portfolio Details Start Here -->
<div class="portfolio-details-area pt-100 pb-90">
    <form class="edit-profile-form" method="post" th:action="@{/users/profile/edit(userUuid=${userDto.getUserUuid()})}"
          th:object="${userDto}" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="portfolio-image">
                        <label for="photo-file">
                            <img src="/static/images/portfolio/single-portfolio.jpg"
                                 th:src="${userDto.getProfilePhoto()}" style="width: 660px;height: 400px"
                                 id="profile-photo-preview">
                        </label>
                        <input type="file"
                               class="text_field"
                               name="photoFile"
                               id="photo-file"
                               onchange="previewProfilePhoto(event)"/>
                        <span class="error-message"></span>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="portfolio-informations">
                        <h3>Profile Details</h3>
                        <ul>
                            <div class="input-wrapper">
                                <label for="firstName">First Name</label>
                                <input type="text" id="firstName" name="firstName" th:value="*{firstName}">
                                <label class="error-edit" th:errors="*{firstName}">First name error placeholder</label>
                            </div>

                            <div class="input-wrapper">
                                <label for="lastName">Last Name</label>
                                <input type="text" id="lastName" name="lastName" th:value="*{lastName}">
                                <label class="error-edit" th:errors="*{lastName}">Last name error placeholder</label>
                            </div>

                            <div class="input-wrapper">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" placeholder="Enter new password">
                                <label class="error-edit" th:errors="*{password}">Password error placeholder</label>
                            </div>
                            <li>
                                <label>Username</label>
                                <span th:text="*{username}">: 2018</span>
                            </li>
                            <li>
                                <label>Email</label>
                                <span th:text="*{email}">: $80</span>
                            </li>
                            <li>
                                <label>Role</label>
                                <span th:text="*{role}">: Reke pontin / Grand smith.</span>
                            </li>
                            <li>
                                <label>Rank</label>
                                <span th:text="*{rank}">: 1 Weeks</span>
                            </li>
                            <li>
                                <label>Points</label>
                                <span th:text="*{points}">: Publish</span>
                            </li>
                        </ul>
                        <div class="visit-project">
                            <a href="/users/profile" th:href="@{/users/profile(userUuid=${userDto.getUserUuid()})}" class="cancel-button" style="display: inline-block">Cancel</a>
                            <button type="submit" class="submit-button" style="display: inline-block">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Portfolio Details End Here -->

<!-- Footer Area Section Start Here -->
<div th:replace="~{fragments/footer :: footer}">Footer fragment</div>
<!-- Footer Area Section End Here -->

<!-- jquery latest version -->
<script src="/static/js/vendor/jquery-1.12.0.min.js" th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
<!-- bootstrap js -->
<script src="/static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl.carousel js -->
<script src="/static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- owl.carousel js -->
<script src="/static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- meanmenu js -->
<script src="/static/js/jquery.meanmenu.js" th:src="@{/js/jquery.meanmenu.js}"></script>
<!-- jquery-ui js -->
<script src="/static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<!-- wow js -->
<script src="/static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<!-- jquery.counterup js -->
<script src="/static/js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
<script src="/static/js/waypoints.min.js" th:src="@{/js/waypoints.min.js}"></script>
<!-- jquery light box -->
<script src="/static/js/lightbox.min.js" th:src="@{/js/lightbox.min.js}"></script>
<!-- isotope.pkgd.min js -->
<script src="/static/js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
<!-- imagesloaded.pkgd.min js -->
<script src="/static/js/imagesloaded.pkgd.min.js" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<!-- magnific popup -->
<script src="/static/js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- jQuery MixedIT Up -->
<script src="/static/js/jquery.mixitup.min.js" th:src="@{/js/jquery.mixitup.min.js}"></script>
<!-- Counter Down js -->
<script src="/static/js/simplyCountdown.min.js" th:src="@{/js/simplyCountdown.min.js}"></script>
<!-- jquery.appear js -->
<script src="/static/js/jquery.appear.js" th:src="@{/js/jquery.appear.js}"></script>
<!-- jQuery Multistep form -->
<script src="/static/js/multi_step_form.js" th:src="@{/js/multi_step_form.js}"></script>
<!-- jquery.fancybox.pack js -->
<script src="/static/inc/fancybox/jquery.fancybox.pack.js" th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
<!-- plugins js -->
<script src="/static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
<!-- jquery weave effects -->
<script src="/static/js/waves.js" th:src="@{/js/waves.js}"></script>
<!-- main js -->
<script src="/static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>