<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>FrameFrenzy | Success</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/fav.png}">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.css}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}">
    <!-- meanmenu css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/meanmenu.min.css}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <!-- lightbox css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/lightbox.min.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
    <!-- modernizr css -->
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>
<body class="error">
<!--Preview area start here-->
<div class="template-preloader-rapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--End preview here -->
<!--Header area start here-->
<div th:replace="~{fragments/header :: header}">Footer Fragment</div>

<!--Header area end here-->

<!-- Inner Page Header serction start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-title">
                    <h2>Upload success</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-locator">
                    <ul>
                        <li><a href="index.html">Home /</a> Upload success</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header serction end here -->

<!-- 404 Page Area Start Here -->
<div class="error-page-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div>
                    <img th:src="${photo}" alt="" style="border-radius: 20px">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="error-page-message">
                        <p th:text="#{participation.success}"></p>
                        <div class="home-page">
                            <a th:href="@{/}" th:text="#{go.to.home}">Go to Home Page <i
                                    class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 404 Page Area End Here -->

<!-- Footer Area Section Start Here -->
<div th:replace="~{fragments/footer :: footer}">Footer Fragment</div>
<!-- Footer Area Section End Here -->

<script th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
<!-- bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl.carouse js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- owl.carouse js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- meanmenu js-->
<script th:src="@{/js/jquery.meanmenu.js}"></script>
<!-- jquery-ui j -->
<script th:src="@{/js/jquery-ui.min.js}"></script>
<!-- wow js -->
<script th:src="@{/js/wow.min.js}"></script>
<!-- jquery.counerup js -->
<script th:src="@{/js/jquery.counterup.min.js}"></script>
<script th:src="@{/js/waypoints.min.js}"></script>
<!-- jquery ligh box -->
<script th:src="@{/js/lightbox.min.js}"></script>
<!-- isotope.pkg.min js -->
<script th:src="@{/js/isotope.pkgd.min.js}"></script>
<!-- imagesloade.pkgd.min js -->
<script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<!-- magnific poup -->
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- jQuery MixeIT Up -->
<script th:src="@{/js/jquery.mixitup.min.js}"></script>
<!-- Counter Dow js -->
<script th:src="@{/js/simplyCountdown.min.js}"></script>
<!-- jquery.appear js -->
<script th:src="@{/js/jquery.appear.js}"></script>
<!-- jQuery Multistep form -->
<script th:src="@{/js/multi_step_form.js}"></script>
<!-- jquery.fancbox.pack js -->
<script th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
<!-- plugins js -->
<script th:src="@{/js/plugins.js}"></script>
<!-- jquery weav effects -->
<script th:src="@{/js/waves.js}"></script>
<!-- main js -->
<script th:src="@{/js/main.js}"></script>
</body>
</html>