<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>FrameFrenzy | Single Page</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/fav.png}">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css" th:href="@{/css/animate.css}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}">
    <!-- meanmenu css -->
    <link rel="stylesheet" type="text/css" href="/static/css/meanmenu.min.css" th:href="@{/css/meanmenu.min.css}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
    <!-- magnific popup css -->
    <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css" th:href="@{/css/magnific-popup.css}">
    <!-- lightbox css -->
    <link rel="stylesheet" type="text/css" href="/static/css/lightbox.min.css" th:href="@{/css/lightbox.min.css}">
    <!-- TimeCircles css -->
    <link rel="stylesheet" type="text/css" href="/static/css/TimeCircles.css" th:href="@{/css/TimeCircles.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="/static/style.css" th:href="@{/style.css}">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" th:href="@{/css/responsive.css}">
    <!-- modernizr css -->
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
<!--Preview area start here-->
<div class="template-preloader-rapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--End preview here -->
<!--Header area start here-->
<div th:replace="~{fragments/header :: header}">Header fragment></div>
<!--Header area end here-->

<!-- Inner Page Header section start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-title">
                    <h2 th:text="${contest.getTitle()}">Single Photo Contest 1</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-locator">
                    <ul>
                        <li><a th:href="@{/}">Home /</a> Single Contest</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header section end here -->

<!-- Single Photo Contest Start Here -->
<div class="home-about-photo-contest-area pt-100 pb-100">
    <div class="container">
        <div class="row full-photocontest-area">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-md-30">
                <div class="single-section">
                    <div class="section-img">
                        <img th:src="${contest.getCoverPhoto()}" style="width: 585px;height: 366px" alt="single Images" src="/"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h3 class="title" th:text="${contest.getTitle()}">Contest title</h3>
                <ul id="meta-text">
                    <div class="date">
                        <i class="fa fa-calendar-check-o" aria-hidden="true" th:text="${#temporals.format(contest.getDateCreated(),'dd-MM-yyyy HH:mm')}"
                           th:if="${now < contest.getPhaseOne()}">06 May, 2017</i> &nbsp;
                        <i class="fa fa-calendar-times-o" aria-hidden="true" &nbsp; th:text="${#temporals.format(contest.getPhaseOne(),'dd-MM-yyyy HH:mm')}"
                           th:if="${now < contest.getPhaseOne()}">
                            Phase one
                        </i>
                        <i class="fa fa-calendar-check-o" aria-hidden="true" th:text="${#temporals.format(contest.getPhaseOne(),'dd-MM-yyyy HH:mm')}"
                           th:if="${now > contest.getPhaseOne()}">06 May, 2017</i>&nbsp;
                        <i class="fa fa-calendar-times-o" aria-hidden="true" &nbsp; th:text="${#temporals.format(contest.getPhaseTwo(),'dd-MM-yyyy HH:mm')}"
                           th:if="${now > contest.getPhaseOne()}"></i>
                    </div>

                </ul>
                <p class="des" th:if="${now < contest.getPhaseOne()}" th:text="#{one}">You can participate in the competition by registering and join below. Good luck!</p>
                <p class="des" th:if="${now > contest.getPhaseOne() && contest.isFinished() == false}" th:text="#{two}">Below you can see all participants and rate the photos.</p>
                <p class="des" th:if="${contest.isFinished() == true}" th:text="#{contest.over}">The contest is over. You can see the participants below.</p>

                <div class="countdown-section" th:unless="${contest.isFinished() == true}">
                    <div class="row">
                        <div class="col-sm-12">
                            <div th:if="${now < contest.getPhaseOne()}" class="CountDownTimer"
                                 th:attr="data-date=${#temporals.format(contest.getPhaseOne(), 'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                            <div th:if="${now > contest.getPhaseOne()}" class="CountDownTimer"
                                 th:attr="data-date=${#temporals.format(contest.getPhaseTwo(), 'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="join-details">
                    <p>Total Join : <a th:text="${participation.getTotalElements()}"></a></p>

                </div>
                <div class="link-section">
                    <form id="delete_form" method="POST" th:if="${contest.getCreatedBy().equals(user.getUsername())}">
                        <input type="hidden" name="_method" value="delete" />
                        <a th:href="@{/contest/delete (contestUuid=${contest.getContestUuid()})}" class="joni-btn primary-btn">Delete contest</a>
                    </form>
                    <a th:if="${contest.isFinished() == false && now < contest.getPhaseOne()}" th:unless="${contest.getCreatedBy().equals(user.getUsername())}"
                       th:href="@{/contest/{contestUuid}/upload (contestUuid=${contest.getContestUuid()})}" class="joni-btn primary-btn">join now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Photo Contest End Here -->

<!-- faq start here -->
<div th:replace="~{fragments/rules :: rules}">Rules fragment></div>
<!-- faq end here -->

<!-- Other photo contest start here -->
<div class="others-photo-contester-area pt-90 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Already <span>Uploaded Photos</span></h2>
                    <img src="/static/images/line.png" alt="line image">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-12 mb-30" th:each="participations : ${participation.getContent()}">
                <div class="single-others-contester">
                    <div class="images">
                        <img th:src="${participations.getPhoto()}" height="299" width="299" alt="">
                        <div class="overley">
                            <ul>
                                <li><a th:if="${not contest.getCreatedBy().equals(user.getUsername()) and now > contest.getPhaseOne()}"
                                 th:href="@{/contest/{contestUuid}/participation/{participationUuid}(contestUuid=${contest.getContestUuid()}, participationUuid=${participations.getParticipationUuid()})}"><i class="fa fa-eye"></i></a></li>
                                <li><a class="image-popup" th:href="${participations.getPhoto()}"><i class="fa fa-search" ></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 th:text="${participations.getTitle()}">Photo Graph Template Contest</h3>
                    <div class="informations">
                        <div class="informations">
                            <ul>
                                <li><i class="fa fa-heart-o"></i> &nbsp; <a th:text="${#numbers.formatDecimal(participations.getAppraisal(), 1, 1)}"></a>
                                </li>
                                <li><i class="fa fa-comments-o"></i> &nbsp;<a th:text="${participations.getCommentsCount()}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
<!--            pagination starts here -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <div class="pagination-area">
                        <ul>
                            <li th:unless="${participation.first == true}">
                                <a th:href="@{/contest/single-contest(contestUuid=${contest.getContestUuid()},page=${participation.number - 1})}" aria-label="Previous">
                                    <i aria-hidden="true" class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <th:block th:if="${participation.totalPages > 1}">
                                <th:block th:each="page : ${#numbers.sequence(0, participation.totalPages - 1)}">
                                    <li th:class="${page == participation.number} ? active : ''">
                                        <a th:href="@{/contest/single-contest(contestUuid=${contest.getContestUuid()},page=${page})}" th:text="${page + 1}"></a>
                                    </li>
                                </th:block>
                            </th:block>
                            <li th:unless="${participation.last == true}">
                                <a th:href="@{/contest/single-contest(contestUuid=${contest.getContestUuid()},page=${participation.number + 1})}" aria-label="Next">
                                    <i aria-hidden="true" class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    <!-- Other photo contest end here -->

    <!-- Footer Area Section Start Here -->
<div th:replace="~{fragments/footer :: footer}">Footer fragment</div>
    <!-- Footer Area Section End Here -->

    <!-- jquery latest version -->
    <script th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
    <!-- bootstra js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- owl.carosel js -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- owl.carosel js -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- meanmenujs -->
    <script th:src="@{/js/jquery.meanmenu.js}"></script>
    <!-- jquery-u js -->
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <!-- wow js -->
    <script th:src="@{/js/wow.min.js}"></script>
    <!-- jquery.counterup js -->
    <script th:src="@{/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/js/waypoints.min.js}"></script>
    <!-- jquery lght box -->
    <script th:src="@{/js/lightbox.min.js}"></script>
    <!-- isotope.kgd.min js -->
    <script th:src="@{/js/isotope.pkgd.min.js}"></script>
    <!-- imagesloded.pkgd.min js -->
    <script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
    <!-- magnificpopup -->
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <!-- jQuery MxedIT Up -->
    <script th:src="@{/js/jquery.mixitup.min.js}"></script>
    <!-- Counter own js -->
    <script th:src="@{/js/simplyCountdown.min.js}"></script>
    <!-- jQuery Multistep form -->
    <script th:src="@{/js/multi_step_form.js}"></script>
    <!-- jquery.fncybox.pack js -->
    <script th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
    <!-- plugins s -->
    <script th:src="@{/js/plugins.js}"></script>
    <!-- jquery wave effects -->
    <script th:src="@{/js/waves.js}"></script>
    <!-- TimeCirces js -->
    <script th:src="@{/js/TimeCircles.js}"></script>
    <!-- main js -->
    <script th:src="@{/js/main.js}"></script>
</body>
</html>