<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>FrameFrenzy | Participation</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/fav.png}">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.css}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}">
    <!-- meanmenu css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/meanmenu.min.css}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <!-- magnific popup css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <!-- lightbox css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/lightbox.min.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">

    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>

    <!-- modernizr css -->
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->

    <style>
        .checked {
            color: orange;
        }
    </style>
</head>
<body class="photo-details">
<!--Preview area start here-->
<div class="template-preloader-rapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--End preview here -->
<!--Header area start here-->
<div th:replace="~{fragments/header :: header}">Header Fragment</div>
<!--Header area end here-->

<!-- Inner Page Header section start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-title">
                    <h2 th:text="${contest.getTitle()}">Photo Details</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-locator">
                    <ul>
                        <li><a th:href="@{/}">Home /</a> Contest Participation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header section end here -->

<!-- Photo Details Start Here -->
<div class="photo-details-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <img th:src="${participation.getPhoto()}" alt="">
                <div class="photo-details">
                    <ul>
                        <li><i class="fa fa-user"></i> [[${participation.getUser().getFirstName() + ' ' +
                            participation.getUser().getLastName()}]]
                        </li>
                        <li><i class="fa fa-heart"></i> [[${#numbers.formatDecimal(participation.getAppraisal(), 1,
                            1)}]]
                        </li>
                        <li><i class="fa fa-archive"></i> [[${contest.getCategory().getName()}]]</li>
                        <li><i class="fa fa-comments-o"></i> [[${evaluations.size()}]]</li>
                        <li th:if="${isCurrentUserJuror == true && contest.isFinished() == false}">
                            <button type="button"
                                    class="btn btn-primary bg-transparent"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">Vote Now
                            </button>
                        </li>
                        <li th:if="${isCurrentUserJuror == true && contest.isFinished() == false}">
                            <form id="delete_form" method="POST"
                                  th:action="@{/contest/{contestUuid}/participation/{participationUuid}/delete
                                  (contestUuid=${contest.getUuid()}, participationUuid=${participation.getUuid()})}">
                                <button style="background: none" type="submit" class="btn btn-primary bg-transparent"><span
                                        class="fa fa-trash-o"></span></button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="photo-content">
                    <h3 th:text="${participation.getTitle()}">Its Aswesome and Eye Eatching Photo</h3>
                    <hr>
                    <p th:text="${participation.getStory()}">Lorem ipsum.</p>
                    <hr>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 acurate">
                    <div class="single-blog-page-area single-news-page">
                        <div class="row content-info">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 text-right">
                                <div class="blog-content-share-social-icons" th:if="${(#authentication.getName() == participation.getUser().getUsername()) &&
                                 (participation.getPlacement() == 1
                                 || participation.getPlacement() == 2
                                 || participation.getPlacement() == 3)}">
                                    <ul>
                                        <li><span>Share: </span></li>
                                        <li>
                                            <a th:href="'https://www.facebook.com/sharer/sharer.php?u=' + ${currentUrl}"><i
                                                    class="fa fa-facebook"></i></a></li>
                                        <li>
                                            <a th:href="'https://twitter.com/intent/tweet?text=' + ${participation.getTitle()} + '&url=' + ${currentUrl}"><i
                                                    class="fa fa-twitter"></i></a></li>
                                        <li>
                                            <a th:href="'https://www.linkedin.com/sharing/share-offsite/?url=' + ${currentUrl}"><i
                                                    class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade"
                             id="exampleModal"
                             tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true"
                             style="padding-top: 80px;">
                            <div class="modal-dialog">
                                <div class="modal-content"
                                     style="background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Evaluation Form</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 th:text="${contest.getTitle()}"></h5>
                                        <form th:action="@{/contest/{contestUuid}/participation/{participationUuid}(contestUuid=${contest.getUuid()}, participationUuid=${participation.getUuid()})}"
                                              th:object="${evaluationDto}"
                                              method="post" id="evaluationForm">
                                            <div class="mb-3">
                                                <label class="col-form-label" th:text="#{leave.rating}">Please leave a
                                                    rating:</label>
                                                <div id="ratingStars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <input type="hidden" th:field="*{rating}" name="rating"
                                                       id="ratingInput">
                                            </div>
                                            <div class="form-check form-switch">
                                                <label class="form-check-label"
                                                       for="flexSwitchCheckDefault"
                                                       th:text="#{invalid.category}">Invalid Category</label>
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                       id="flexSwitchCheckDefault" name="switch" value="false">
                                                <input type="hidden" name="switch" id="switchInput" value="false"
                                                       th:field="*{falseCategory}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label"
                                                       th:text="#{evaluation.comment}">Tell us what do you
                                                    think about the photo:</label>
                                                <textarea class="form-control bg-transparent" id="message-text"
                                                          th:field="*{comment}"
                                                          required></textarea>
                                                <span id="commentError" style="display: none; color: red">Comment cannot be empty!</span>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" id="submitBtn"
                                                style="background:radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(250,70,108,1) 97%, rgba(252,70,107,1) 100%, rgba(129,13,37,1) 100%);">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="sidebar-area">
                    <div class="single-sidebar">
                        <h2>Photo Evaluations</h2>
                        <div class="sidebar-recent-post">
                            <div class="media single-post" th:each="evaluation : ${evaluations}">
                                <div class="pull-left padding-0">
                                    <div class="media">
                                        <div class="pull-left">
                                            <a th:href="@{/users/{userUuid}(userUuid=${evaluation.getJuror().getUuid()})}">
                                                <img class="media-object"
                                                     th:src="${evaluation.getJuror().getProfilePhoto()}" alt="post">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <span class="media-heading"
                                                  th:text="${evaluation.getJuror().getFirstName() + ' ' + evaluation.getJuror().getLastName()}"
                                                  style="font-weight: bold">
                                                Teodor Ivanov</span>
                                            <div th:if="${evaluation.getJuror().getRank().getName().startsWith('W')}">
                                                <i th:text="${evaluation.getJuror().getRank().getName().substring(20)}"></i>
                                            </div>
                                            <div th:unless="${evaluation.getJuror().getRank().getName().startsWith('W')}">
                                                <i th:text="${evaluation.getJuror().getRank().getName()}"></i>
                                            </div>
                                            <div class="posted-date">
                                                <a th:text="${#temporals.format(evaluation.getDateCreated(), 'MMMM d, yyyy @ hh:mm a')}"></a>
                                            </div>
                                            <i class="fa fa-star checked"> <span
                                                    th:text="${evaluation.getRating() + '/10'}"></span></i>
                                            <p th:text="${evaluation.getComment()}">We possess within us two minds.</p>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
<!-- Photo Details End Here -->

<!-- Footer Area Section Start Here -->
<div th:replace="~{fragments/footer :: footer}">Footer Fragment</div>
<!-- Footer Area Section End Here -->

<script th:src="@{/js/evaluation_form.js}"></script>
<!-- jquery latest version -->
<script th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
<!-- bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl.carouse js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- owl.carouse js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- meanmenu js-->
<script th:src="@{/js/jquery.meanmenu.js}"></script>
<!-- jquery-ui j -->
<script th:src="@{/js/jquery-ui.min.js}"></script>
<!-- wow js -->
<script th:src="@{/js/wow.min.js}"></script>
<!-- jquery.counerup js -->
<script th:src="@{/js/jquery.counterup.min.js}"></script>
<script th:src="@{/js/waypoints.min.js}"></script>
<!-- jquery ligh box -->
<script th:src="@{/js/lightbox.min.js}"></script>
<!-- isotope.pkg.min js -->
<script th:src="@{/js/isotope.pkgd.min.js}"></script>
<!-- imagesloade.pkgd.min js -->
<script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<!-- magnific poup -->
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- jQuery MixeIT Up -->
<script th:src="@{/js/jquery.mixitup.min.js}"></script>
<!-- Counter Dow js -->
<script th:src="@{/js/simplyCountdown.min.js}"></script>
<!-- jQuery Multistep form -->
<script th:src="@{/js/multi_step_form.js}"></script>
<!-- jquery.fancbox.pack js -->
<script th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
<!-- plugins js -->
<script th:src="@{/js/plugins.js}"></script>
<!-- jquery weav effects -->
<script th:src="@{/js/waves.js}"></script>
<!-- main js -->
<script th:src="@{/js/main.js}"></script>
</body>
</html>