<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>FrameFrenzy | Upload Photo </title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/fav.png}">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.css}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}">
    <!-- meanmenu css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/meanmenu.min.css}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <!-- lightbox css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/lightbox.min.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
    <!-- modernizr css -->
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->

    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js}"></script>

    <style>
        .error-message {
            color: red;
            font-weight: bold;
        }
    </style>

</head>
<body>
<!--Preview area start here-->
<div class="template-preloader-rapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--End preview here -->
<!--Header area start here-->
<div th:replace="~{fragments/header :: header}">Header Fragment</div>
<!--Header area end here-->

<!-- Inner Page Header serction start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-title">
                    <h2>Upload Your Photo</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-locator">
                    <ul>
                        <li><a th:href="@{/}">Home /</a> Upload Photo</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header section end here -->

<!-- Multistep Form Start Here -->
<div class="multistep-form pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- multistep form -->
                <form class="regform" th:action="@{/contest/{contestUuid}/upload(contestUuid=${contest.getUuid()})}" method="post" th:object="${participation}"
                      enctype="multipart/form-data">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" th:text="#{participation.form}">Participation Form</li>
                        <li th:text="#{upload.form.details.again}">Preview Details Again</li>
                    </ul>
                    <br><br>
                    <fieldset id="first"
                              style="width: 80%; margin: 0 auto; background-color:#f8f8f8; border-radius: 20px;">
                        <br><br>
                        <h2 class="title" th:text="#{participation.form}">Participation Form</h2>
                        <label th:text="#{upload.form.photo.title}" style="font-weight: bold">Title</label>
                        <br>
                        <input th:field="*{title}"
                               id="name"
                               type="text"
                               class="text_field"
                               name="marks"
                               placeholder="Your Photo Title"/>
                        <span class="error-message"></span>
                        <br/>

                        <label th:text="#{upload.photo}" style="font-weight: bold">Upload</label>
                        <input type="file"
                               class="text_field"
                               name="photoFile"
                               id="photo-file"/>
                        <span class="error-message"></span>
                        <br>

                        <label th:text="#{upload.form.photo.story}" style="font-weight: bold">Story</label>
                        <br>
                        <textarea th:field="*{story}"
                                  id="story"
                                  name="textarea"
                                  cols="10"
                                  rows="10"
                                  placeholder="Your Short Story"></textarea>
                        <span class="error-message"></span>
                        <br>
                        <input type="button" name="next" class="next_btn" value="Next >"/>
                        <br><br>
                    </fieldset>
                    <fieldset id="last"
                              style="width: 80%; margin: 0 auto; background-color:#f8f8f8; border-radius: 20px;">
                        <br><br>
                        <h2 class="title" th:text="#{upload.form.details.again}">Preview Details Again</h2>
                        <ul id="preview" class="text-center">
                            <span th:text="#{upload.form.names}" style="font-weight: bold"></span>
                            <p type="text" class="form-control"
                               th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">
                            </p>
                            <span th:text="#{upload.form.username}" style="font-weight: bold"></span>
                            <p type="text" class="form-control" th:text="${user.getUsername()}"></p>

                            <span th:text="#{upload.form.contest}" style="font-weight: bold"></span>
                            <p type="text" class="form-control" th:text="${contest.getTitle()}"></p>

                            <span th:text="#{upload.form.photo.title}" style="font-weight: bold"></span>
                            <p type="text" class="form-control" id="preview-name"></p>

                            <span th:text="#{upload.form.photo.story}" style="font-weight: bold"></span>
                            <p type="text" class="form-control" id="preview-story"></p>


                        </ul>
                        <input type="button" name="previous" class="pre_btn" value="< Back"/>
                        <input type="button" class="next_btn" value="Submit >" data-bs-toggle="modal"
                               data-bs-target="#participationModal">
                    </fieldset>
                    <!-- Modal -->
                    <div class="modal fade"
                         id="participationModal"
                         tabindex="-1"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true"
                         style="z-index: 1050;padding-top: 80px;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="#{participation.form}">
                                        Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p th:text="#{participation.modal}"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                            onclick="window.location.href=window.location.href"
                                            id="cancelBtn"
                                            style="background:radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(250,70,108,1) 97%, rgba(252,70,107,1) 100%, rgba(129,13,37,1) 100%);">
                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary" id="submitBtn"
                                            style="background:radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(250,70,108,1) 97%, rgba(252,70,107,1) 100%, rgba(129,13,37,1) 100%);">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Multistep Form End Here -->

<!-- Footer Area Section Start Here -->
<div th:replace="~{fragments/footer :: footer}">Footer Fragment</div>

<!-- Footer Area Section End Here -->
<script th:src="@{/js/participation-error-validation.js}"></script>
<script th:src="@{/js/particpation-form-listeners.js}"></script>
<script th:src="@{/js/participation-form-modal-submit.js}"></script>
<!-- jquery latest version -->
<script th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
<!-- bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl.carouse js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- owl.carouse js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- meanmenu js-->
<script th:src="@{/js/jquery.meanmenu.js}"></script>
<!-- jquery-ui j -->
<script th:src="@{/js/jquery-ui.min.js}"></script>
<!-- wow js -->
<script th:src="@{/js/wow.min.js}"></script>
<!-- jquery.counerup js -->
<script th:src="@{/js/jquery.counterup.min.js}"></script>
<script th:src="@{/js/waypoints.min.js}"></script>
<!-- jquery ligh box -->
<script th:src="@{/js/lightbox.min.js}"></script>
<!-- isotope.pkg.min js -->
<script th:src="@{/js/isotope.pkgd.min.js}"></script>
<!-- imagesloade.pkgd.min js -->
<script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<!-- magnific poup -->
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- jQuery MixeIT Up -->
<script th:src="@{/js/jquery.mixitup.min.js}"></script>
<!-- Counter Dow js -->
<script th:src="@{/js/simplyCountdown.min.js}"></script>
<!-- jquery.appear js -->
<script th:src="@{/js/jquery.appear.js}"></script>
<!-- jQuery Multistep form -->
<script th:src="@{/js/multi_step_form.js}"></script>
<!-- jquery.fancbox.pack js -->
<script th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
<!-- plugins js -->
<script th:src="@{/js/plugins.js}"></script>
<!-- jquery weav effects -->
<script th:src="@{/js/waves.js}"></script>
<!-- main js -->
<script th:src="@{/js/main.js}"></script>
</body>
</html>