<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- meta tag -->
        <meta charset="utf-8">
        <title>FrameFrenzy | Users Profiles</title>
        <meta name="description" content="">
        <!-- responsive tag -->
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
        <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}">
        <link rel="shortcut icon" type="image/x-icon" href="/static/images/fav.png" th:href="@{/images/fav.png}">
        <!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
        <!-- font-awesome css -->
        <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
        <!-- animate css -->
        <link rel="stylesheet" type="text/css" href="/static/css/animate.css" th:href="@{/css/animate.css}">
        <!-- jquery-ui.min css -->
        <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}">
        <!-- meanmenu css -->
        <link rel="stylesheet" type="text/css" href="/static/css/meanmenu.min.css" th:href="@{/css/meanmenu.min.css}">
        <!-- owl.carousel css -->
        <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
        <!-- lightbox css -->
        <link rel="stylesheet" type="text/css" href="/static/css/lightbox.min.css" th:href="@{/css/lightbox.min.css}">
        <!-- style css -->
        <link rel="stylesheet" type="text/css" href="/static/style.css" th:href="@{/style.css}">
        <!-- responsive css -->
        <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" th:href="@{/css/responsive.css}">
        <!-- modernizr css -->
        <script src="/static/js/vendor/modernizr-2.8.3.min.js" th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
        <!--[if lt IE 9]>
            <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
            <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
        <![endif]-->
    </head>
    <body>
        <!--Preview area start here-->
        <div class="template-preloader-rapper">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!--End preview here -->
        <!--Header area start here-->
        <div th:replace="~{fragments/header :: header}">Header fragment</div>
        <!--Header area end here-->

        <!-- Inner Page Header section start here -->
        <div class="inner-page-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="header-page-title">
                            <h2>Photo Junkies</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="header-page-locator">
                            <ul>
                                <li><a href="index.html">Home /</a> Photo Junkies</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Page Header section end here -->

        <!-- Winner Start Here -->
        <div class="winner-area pt-100 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-30" style="width: 150px" th:each="photo_junkie : ${usersPage}">
                        <div class="single-winners">
                            <div class="images">
                                <a href="#"><img src="/static/images/winners/1.jpg" th:src="${photo_junkie.profilePhoto}" style="width: 150px;height: 120px" alt="Image"></a>
                                <div class="overley">
                                    <div class="winners-details">
                                        <span th:text="${photo_junkie.rank.name}">Light Weight Image</span>
                                    </div>
                                    <div class="winners-details">
                                        <span th:text="${photo_junkie.points} + 'pts'">Points</span>
                                    </div>
                                </div>
                            </div>
                            <h6><a href="#" th:href="@{/users/profile(userUuid=${photo_junkie.uuid})}" th:text="${photo_junkie.username}"></a></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <div class="pagination-area">
                        <ul>
                            <li th:unless="${usersPage.first == true}">
                                <a th:href="@{/users(page=${usersPage.number - 1})}" aria-label="Previous">
                                    <i aria-hidden="true" class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <th:block th:if="${usersPage.totalPages > 1}">
                                <th:block th:each="page : ${#numbers.sequence(0, usersPage.totalPages - 1)}">
                                    <li th:class="${page == usersPage.number} ? active : ''">
                                        <a th:href="@{/users(page=${page})}" th:text="${page + 1}"></a>
                                    </li>
                                </th:block>
                            </th:block>
                            <li th:unless="${usersPage.last == true}">
                                <a th:href="@{/users(page=${usersPage.number + 1})}" aria-label="Next">
                                    <i aria-hidden="true" class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Winner End Here -->

        <!-- Footer Area Section Start Here -->
        <div th:replace="~{fragments/footer :: footer}">Footer fragment</div>
        <!-- Footer Area Section End Here --> 

        <!-- jquery latest version -->
        <script th:src="@{js/vendor/jquery-1.12.0.min.js}"></script>
        <!-- bootstrap js -->
        <script th:src="@{js/bootstrap.min.js}"></script>
        <!-- owl.carousel js -->
        <script th:src="@{js/owl.carousel.min.js}"></script>
        <!-- owl.carousel js -->
        <script th:src="@{js/owl.carousel.min.js}"></script>
        <!-- meanmenu js -->
        <script th:src="@{js/jquery.meanmenu.js}"></script>
        <!-- jquery-ui js -->
        <script th:src="@{js/jquery-ui.min.js}"></script>
        <!-- wow js -->
        <script th:src="@{js/wow.min.js}"></script>
        <!-- jquery.counterup js -->
        <script th:src="@{js/jquery.counterup.min.js}"></script>
        <script th:src="@{js/waypoints.min.js}"></script>
        <!-- jquery light box -->
        <script th:src="@{js/lightbox.min.js}"></script>
        <!-- isotope.pkgd.min js -->
        <script th:src="@{js/isotope.pkgd.min.js}"></script>
        <!-- imagesloaded.pkgd.min js -->
        <script th:src="@{js/imagesloaded.pkgd.min.js}"></script>
        <!-- magnific popup -->
        <script th:src="@{js/jquery.magnific-popup.min.js}"></script>
        <!-- jQuery MixedIT Up -->
        <script th:src="@{js/jquery.mixitup.min.js}"></script>
        <!-- Counter Down js -->
        <script th:src="@{js/simplyCountdown.min.js}"></script>
        <!-- jquery.appear js -->
        <script th:src="@{js/jquery.appear.js}"></script>
        <!-- jQuery Multistep form -->
        <script th:src="@{js/multi_step_form.js}"></script>
        <!-- jquery.fancybox.pack js -->
        <script th:src="@{inc/fancybox/jquery.fancybox.pack.js}"></script>
        <!-- plugins js -->
        <script th:src="@{js/plugins.js}"></script>
        <!-- jquery weave effects -->
        <script th:src="@{js/waves.js}"></script>
        <!-- main js -->
        <script th:src="@{js/main.js}"></script>
    </body>
</html>