<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>FrameFrenzy | Winners</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.css}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}">
    <!-- meanmenu css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/meanmenu.min.css}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <!-- magnific popup css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <!-- lightbox css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/lightbox.min.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
    <!-- modernizr css -->
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
    <style>
        .gellary-informations {
            display: flex;
            justify-content: space-between;
        }

        .gallery-stats {
            display: flex;
            align-items: center;
        }

        .gallery-stats li {
            margin-left: 10px;
        }

        .single-gellary .image img {
            height: 339px;
            width: 408px;
            object-fit: cover;
        }
    </style>
</head>
<body>
<!--Preview area start here-->
<div class="template-preloader-rapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--End preview here -->
<!--Header area start here-->
<div th:replace="~{fragments/header :: header}">Header Fragment</div>
<!--Header area end here-->

<!-- Inner Page Header section start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-title">
                    <h2>Our Winners</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-locator">
                    <ul>
                        <li><a th:href="@{/}">Home /</a> Winners</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header section end here -->

<!-- Home Page Gellary Start Here -->
<div class="home-gellary-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>Photo Contests <span> Winners</span></h2>
                    <p>Here you will find all of our winners, who placed amongst the first 3 places.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-30" th:each="winner : ${winnersList.getContent()}">
                <div class="single-gellary" >
                    <div class="image">
                        <img th:src="${winner.getPhoto()}" alt="">
                        <div class="overley">
                            <ul>
                                <li><a th:href="@{/contest/{contestUuid}/participation/{participationUuid}(contestUuid=${winner.getContest().getUuid()},
                                 participationUuid=${winner.getUuid()})}"><i class="fa fa-eye"></i></a></li>
                                <li><a class="image-popup" th:href="${winner.getPhoto()}"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="gellary-informations">
                        <ul>
                            <li>
                                <h3><a th:href="@{/contest/single-contest(contestUuid=${winner.getContest().getUuid()})}"
                                       data-title="Image Title">
                                    [[${winner.getContest().getTitle()}]]
                                </a></h3>
                                <span>by [[${winner.getUser().getFirstName() + ' ' + winner.getUser().getLastName()}]]</span>
                            </li>
                        </ul>
                        <ul class="gallery-stats">
                            <li><i class="fa fa-heart"></i> [[${#numbers.formatDecimal(winner.getAppraisal(), 1, 1)}]]
                            </li>
                            <li><i class="fa fa-trophy"></i> [[${winner.getPlacement()}]]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <div class="pagination-area">
            <ul>
                <li th:unless="${winnersList.first == true}">
                    <a th:href="@{/winners(page=${winnersList.number - 1})}" aria-label="Previous">
                        <i aria-hidden="true" class="fa fa-angle-left"></i>
                    </a>
                </li>
                <th:block th:if="${winnersList.totalPages > 1}">
                    <th:block th:each="page : ${#numbers.sequence(0, winnersList.totalPages - 1)}">
                        <li th:class="${page == winnersList.number} ? active : ''">
                            <a th:href="@{/winners(page=${page})}" th:text="${page + 1}"></a>
                        </li>
                    </th:block>
                </th:block>
                <li th:unless="${winnersList.last == true}">
                    <a th:href="@{/winners(page=${winnersList.number + 1})}" aria-label="Next">
                        <i aria-hidden="true" class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<br><br>
<!-- Home Page Gellary End Here -->

<!-- Footer Area Section Start Here -->
<div th:replace="~{fragments/footer :: footer}">Footer Fragment</div>
<!-- Footer Area Section End Here -->

<!-- jquery latest version -->
<script th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
<!-- bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl.carouse js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- owl.carouse js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- meanmenu js-->
<script th:src="@{/js/jquery.meanmenu.js}"></script>
<!-- jquery-ui j -->
<script th:src="@{/js/jquery-ui.min.js}"></script>
<!-- wow js -->
<script th:src="@{/js/wow.min.js}"></script>
<!-- jquery.counerup js -->
<script th:src="@{/js/jquery.counterup.min.js}"></script>
<script th:src="@{/js/waypoints.min.js}"></script>
<!-- jquery ligh box -->
<script th:src="@{/js/lightbox.min.js}"></script>
<!-- isotope.pkg.min js -->
<script th:src="@{/js/isotope.pkgd.min.js}"></script>
<!-- imagesloade.pkgd.min js -->
<script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<!-- magnific poup -->
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- jQuery MixeIT Up -->
<script th:src="@{/js/jquery.mixitup.min.js}"></script>
<!-- Counter Dow js -->
<script th:src="@{/js/simplyCountdown.min.js}"></script>
<!-- jquery.appear js -->
<script th:src="@{/js/jquery.appear.js}"></script>
<!-- jQuery Multistep form -->
<script th:src="@{/js/multi_step_form.js}"></script>
<!-- jquery.fancbox.pack js -->
<script th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
<!-- plugins js -->
<script th:src="@{/js/plugins.js}"></script>
<!-- jquery weav effects -->
<script th:src="@{/js/waves.js}"></script>
<!-- TimeCirces js -->
<script th:src="@{/js/TimeCircles.js}"></script>
<!-- main js -->
<script th:src="@{/js/main.js}"></script>
</body>
</html>